.chart {
  position: absolute;
  margin: 40px 5px;
  background-color: whitesmoke;
  z-index: 2;
  width: 300px;
  height: 350px;
  padding:5px;
  border: rgb(216, 201, 201) 2px solid;

}

a{
    text-decoration: none;
}


progress[value]{
    -webkit-appearance: none;
    appearance: none;

}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

  progress[value]::-webkit-progress-value {
      background-color: orange;
  }