.CWBAPagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
} 
.CWBADiv {
    padding: 0px 20px;
}
.CWBAPagination button {
    height: 40px;
    width: 40px;
    padding: 0;
    background:  linear-gradient(rgb(247, 248, 250), rgb(231, 233, 236));
    box-shadow: 0 1px 0 rgba(255,255,255,.6) inset;
    text-decoration: none;
    color: #0066c0;
    border-radius: 2px;
    border-color: rgba(207,209,212,1);
    border-width: 1px;
}
.CWBASet{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: 0px 0px 0px 0px;
}
.individualCWBA{
    margin: 0px 0px 0px 20px;
    
    
}
.CWBAHeading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.CWBAHeading h1, .CWBAHeading p {
    width: 50%;
}
.CWBAHeading h1{
    text-align: left;
    color: rgba(0,0,0,1);
}
.CWBAHeading p{
    text-align: right;
    color: rgba(59,59,59,1);
}
body{
    font-family: Arial,sans-serif;
    color: rgba(43,45,54,1);
}
a {
    color: rgba(0,102,192,1);
    font-size: 13px;
    text-decoration: none;
}
.starSection{
    font-size: 12px;
}

.priceAnd{
    font-size: 13px;
    color: rgba(177, 39,4,1);
}

h2{
    font-size: 21px;
}
h3{
    font-size: 17px;
    margin-bottom: 20px;
}
.PageOf{
    font-size: 13px;
}
.imageArrayList{
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}
.customerImagesAll{
    margin: 10px 0px 18px -10px;
}
.CImage{
    margin: 0px 0px 0px 10px;
    height: 153px; 
    width: 153px; 
    object-fit: cover;
    background-color: grey;
}
.leftButton{
    padding-left: 3px;
    left: 0;
}
.rightButton{
    padding-right: 3px;
    right: 0;
}
button{
    height: 36px;
    width: 39px;
}
.namer{
    overflow-wrap: break-word;
    width: 160px;
}
.dynamicstarz{
    width: 50px;
    margin: 0px 3px 0px 0px;
}
.dynamichover {
    display: flex;
    flex-direction: row;
}
.tinyPrime{
    width: 42px;
    height: 12px;
    object-fit: cover;
}
.scootRight {
    margin: 0px 0px 0px 10px
}