/* Product Variant Main Page */

#photogallery-grid{
    display: flex;
    overflow: hidden;
    height:1250px;
    width:100%;
}
.photo-comp-grid1{
    width:100%;
    height:400px;
    overflow: hidden;
    margin-top: 8%;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.photo-comp-grid2{
    position: absolute;
    width:100%;
    height:400px;
    overflow: hidden;
    margin-top: 50%;
    justify-content: center;
    align-items: center;
}

.photo-component{
    width:50vw;
    height:50vh;
}
.productVariant-grid{
    padding:20px;
}

.addcart-grid{
    float: left;
    padding:20px;
}

.addcart-component{
    width:100%;
    height: 500px; 
    border-radius: 10%; 
    border: 2px solid gray;
}

/* Header Component */

.a-spacing-none {
    color: black;
}

#bylineInfo_feature_div {
    color:rgb(0,102,200);
}

#ad-feedback-sprite-hero-quick-promo{
    display: inline-block; 
    vertical-align: top; 
    margin: 1px 0px; 
    width: 14px; 
    height: 12px; 
    background: url("https://images-na.ssl-images-amazon.com/images/G/01/ad-feedback/info_icon_1Xsprite._CB431021510_.png") 0px 0px no-repeat scroll transparent }

.best {
    width: 85px;
    height: 0;
    margin: 3px auto;
    border-top: 11px solid rgb(228,121,17);
    border-bottom: 11px solid rgb(228,121,17);
    border-left: 11px solid rgb(228,121,17);
    border-right:11px solid transparent;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
}

.choice {
    float: left;
    
    width: 100px;

    color: white;
    padding: 3px;
    border-top: 20px solid black;
    border-right: 20px solid transparent;
    text-align: center;
}
#word-choice {
    color: rgb(228,121,17);
}

#best-wordplacement {
    margin-top: -8px;
    color: white;
}
#choice-wordplacement {
    margin-top: -22px;
}

/* Availability Component */


.availability{
    font-size: 14px;
}
.maple-banner__text{
    margin-top: 3px;
    color:rgb(0,102,200);
    cursor: pointer;
}

.a-lineitem {
    display: flex;
}



.availability{
    font-size: 14px;
}
.maple-banner__text{
    margin-top: 3px;
    color:rgb(0,102,200);
    cursor: pointer;
}

.a-lineitem {
    display: flex;
}

.a-col{
    width: 100px;
    padding:3px;
    justify-content: start;
    align-items: flex-start;
}

/* Option Section (in the function for rendering images in options) -NOT A COMPONENT */

.options {
    width: 300px;
    font-size: 14px;
    margin-top: 20px;
}

.small-div-btn {
    float: left;
    font-size: 10px;
    padding:2px;
    margin: 3px;
    border-radius: 5%;
    border: 1px solid gray;
}
#image-option-variant {
    max-width: 70px;
    cursor: pointer;
}
#custbtn-btn {
    width: 70px;
    border: none;
}

/* Detail Component */

.detail-table {
    margin-top: 20px;
    padding-top: 30px;
    width: 100%;
}
#custbtn-btn {
    width: 70px;
    border: none;
}

/* Detail Component */

/* About-List Component */

.about-list-container {
    font-size: 14px;
    line-height: 20px;
}
.list-about-items {
    margin-top: 7px;
}

/* Sponsored Component */

#hero-quick-promo{
    width:100%;
    overflow: hidden;
    padding:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 2%;
}
#promo-image{
    max-width: 70%;
}
#sponsered-logo{
    font-size: 10px;
    color: gray;
}

/* Ratings */

.star-rating-table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    font-size: 14px;
    background: #fff;
    font-weight: bolder;
  }
    
  .star-rating-table th, 
  .star-rating-table td {
    padding: 10px 30px;
  }
    
  .star-rating-table th {
    border-bottom: 1px solid #d4d4d4;
  }

  .stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #b3940b;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}
