.app > * {
	background: #eee;
	/* padding: 1em; */
	box-sizing: border-box;
}

.app > *:nth-child(odd) {
	background: #ddd;
}

.photogallery-grid{
    float: left;
}
.productvariant-grid{
    float: right;
}