* {
	margin: 0;
	box-sizing: border-box;
}

.productgrid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.photogallery-grid {
	float: left;
}
.photogallery-grid-container {
	grid-column: 1/7;
}

.productvariant-grid {
	float: right;
}
.productvariant-grid-container {
	grid-column: 7/13;
}

.app {
	font-family: "Lato", sans-serif;
}

.productgrid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}


/* App.jsx STUFF */
.item-div-container {
	height:150vh;
	display: flex;
	flex-wrap: wrap;
	
}
#frontpage-btn{
	width: 150px;
	height: 200px;
	margin: 10px;
	
}