/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.QAitem {
  font-family: "Lato", sans-serif;
}

h4 {
  font: bold;
  margin: 5px;
}

.section {
  display: flex;
  padding-left: 0px;
}

.qAndA {
  display: block;
  font-size: 14px;
}

.question {
  display: flex;
  padding-top: 10px;
}

#individual {
  margin-left: 20px;
  margin-top: 5px;
}

#list {
  padding: 0;
}

.answer {
  padding-left: 10px;
}

.votes {
  display: grid;
  text-align: center;
  position: relative;
  margin-top: 15px;
  margin-left: 10px;
  border-right: 1px solid rgb(212, 209, 209);
}

.qanda {
  display: flex;
}

input {
  width: 30px;
  border: 0ex;
}

#votes {
  text-align: center;
  padding-left: 5px;
  padding-right: 10px;
}

#add {
  width: 25px;
  border-width: 0;
  background-color: white;
  padding-bottom: 10px;
}

#add:hover {
    border-width: 1;
    transition: ease-in;
}

#subtract {
  width: 25px;
  border-width: 0;
  background-color: white;
  padding-top: 10px;
}

#subtract:hover {
    border-width: 1;
    transition: ease-in;
}

.searchbar{
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.bar{
    border: 2px solid gray;
    width: 400px;
    height: 30px;
}

.search{
    background-color: gray 50%;
    width: 60px;
    height: 30px;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(158, 158, 158);
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-top: 10px solid rgb(158, 158, 158);
}


