.photo-gallery-container {
	display: inline-grid;
	/* grid-template-columns: 0.83fr 1.5fr 1fr 1fr; */
	/* grid-template-columns: repeat(auto-fit, minmax(auto, 1fr)); */
	gap: 0.5em;
	position: sticky;
	top: 20px;
}

.photo-gallery-container > * {
	background: #eee;
	padding: 0.5em;
	box-sizing: border-box;
	max-height: 386px;
	overflow-y: scroll;
}

.photo-gallery-container .pg_expanded {
	background: #eee;
	padding: 1em;
	box-sizing: border-box;
	max-height: 410px;
	overflow: visible;
}

.photo-gallery-container > * > img {
	position: relative;
	box-sizing: content-box;
}

/* .photo-gallery-container > *:nth-child(odd) {
	background: #ddd;
} */

@media (min-width: 480px) {
	.pg_expanded.fluid {
		flex-direction: row;
	}
	.pg_expanded.fluid .photo-expanded.fluid__image-container {
		flex: 0 0 30%;
		margin: 20px 0 20px 20px;
	}
	.portal {
		position: absolute;
		top: 40px;
		left: -30px;
	}
}
