.photo-gallery-container {
	display: inline-grid;
	/* grid-template-columns: 0.83fr 1.5fr 1fr 1fr; */
	/* grid-template-columns: repeat(auto-fit, minmax(auto, 1fr)); */
	gap: 1em;
}

.photo-gallery-container > * {
	background: #eee;
	padding: 0.3em;
	box-sizing: border-box;
	max-height: 386px;
}

.photo-gallery-container .pg_expanded {
	background: #eee;
	padding: 1em;
	box-sizing: border-box;
	max-height: 410px;
	overflow: visible;
	grid-column: 2;
}

.photo-gallery-container .pg_thumbnails {
	display: grid;
	grid-template-columns: 1fr;
	overflow: hidden;
	overflow-y: scroll;
}

.photo-gallery-container .pg_thumbnails::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.photo-gallery-container .pg_thumbnails {
	scrollbar-width: none; /* Firefox */
}

.photo-gallery-container .pg_thumbnails .photo-thumbnail {
	display: inline-grid;
	grid-template-columns: 1fr;
	gap: 0.25em;
}

.photo-gallery-container > * > img {
	position: relative;
	box-sizing: content-box;
	padding: 0.3em;
}

.photo-gallery-container > *:nth-child(odd) {
	background: #ddd;
}
